/* Responsive css styles */
/* Extra larg */
@media (max-width:1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
}
    .logo-menu {
        justify-content: space-around;
      }
      .banner-left {
        width: 45%;
        text-align: center;
      }
      .optional-content {
        text-align: center;
    }
    .optional-content p {
      padding-right: 141px;
      padding-left: 100px;
  }
  .single-service-games {
    margin-left: 10px;
    margin-right: 10px;
}
.carrier-contet {
  margin-left: 60px;
}
}
/* Large device css */
@media (max-width:992px) {
  .container {
    width: 100%;
    margin: 0 auto;
}
    .logo-menu {
        display: flex;
        justify-content: start;
        padding-left: 100px;
      }
      .menu {
        padding-left: 130px;
      }
      .banner-left {
        width: 30%;
        padding-left: 80px;
      }
      .banner-img {
        width: 50%;
        margin: auto;
      }
      .optional-content {
        text-align: start;
    }
    
element.style {
}
.optional-content p {
    padding-right: 185px;
    padding-left: 0;
}
.optional-img img {
  width: 400px;
}
.games-inner-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 25px;
}

}
/* Medium device css */
@media (max-width:768px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .logo-menu {
        flex-direction: column;
        padding: 20px 0px;
    }
    .logo {
         margin-bottom: 30px;
      }
    .menu> ul {
        flex-direction: column;
    }
    .menu {
        padding-left: 0px;

    }
    .banner-content {
   flex-direction: column-reverse;
   background: #fff;
}
.banner-img img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .banner-left {
    width: 100%;
    text-align: center;
    background: #fcf6fd;
    padding: 70px 0;
  } 
  .banner-img {
    width: 70%;
  }
  .optional-inner {
    flex-direction: column;
  }
  .optional-img {
    width: 100%;
    text-align: center;
  }
  .optional-content {
    text-align: center;
  }
  .optional-content p {
    font-size: 15px;
    width: 100%;
    padding: 0 70px;
  }
  .optional-img img {
    width: 300px;
}
.games-inner-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-game-inner {
  flex-direction: column;
}
.carrier-inner {
  flex-direction: column;
}
.carrier-contet {
  padding: 50px 0;
}
.gammer-all-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10px;
}
.footer-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-item {
  row-gap: 15px;
}
.footer-icon ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.footer-down-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
}
small {
  display: grid;
  flex-direction: column;
  margin-top: 50px;
}
.carrier-img {
  width: 70%;
}
.footer-logo h4 {
  font-size: 30px;
}
.games-title h1 {
  font-size: 1.5rem;
}
.games-contet-left {
  margin-top: 0px;
}
.games-img img {
  padding-left: 10px;
  padding-right: 10px;
}
.gamer-img img {
  width: 25px;
}
.gamer-text p {
  font-size: 10px;
  font-weight: bold;
}
.games-contet-left p {
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.games-contet-left h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: work-sans;
}
.games-contet-left h3 {
  font-size: 35px;
}
    
}

/* Small device responsive */
@media (max-width:576px) {
  .container {
    width: 100%;
    margin: 0 auto;
}
.logo-menu {
    flex-direction: column;
    padding: 20px 0px;
}
.logo {
  margin-bottom: 30px;
}
.menu> ul {
     flex-direction: column;
    }
.menu {
    padding-left: 0px;
}
.banner-content {
    flex-direction: column-reverse;
    background: #fff;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .banner-left {
    width: 100%;
    text-align: center;
    background: #fcf6fd;
    padding: 70px 0;
  }
  .banner-img {
    width: 70%;
    text-align: right;
  }
  .optional-inner {
    flex-direction: column;
  }
  .optional-img {
    width: 100%;
    text-align: center;
  }
  .optional-content {
    text-align: center;
  }
  .optional-content p {
    font-size: 15px;
    width: 100%;
  }
  .optional-content p {
    padding: 0px 50px;
  }
  .optional-img img {
    width: 300px;
}
.games-inner-service {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.games-img {
  width: 80%;
  margin: auto;
}
.games-img img {
  width: 100%;
}
.about-game-inner {
  flex-direction: column;
}
.games-contet-left p {
  width: 100%;
  text-align: center;
  padding-left: 5px;
  margin-bottom: 40px;
}
.games-right img {
  width: 240px;
}
.second-img img {
  width: 140px !important;
}
.second-img {
  position: relative;
  top: -127px;
  left: -85px;
}
.carrier-inner {
  flex-direction: column;
}
.carrier-contet {
  padding: 50px 0;
}
.gammer-all-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10px;
}
.footer-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-item {
  row-gap: 15px;
}
.footer-icon ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.footer-down-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
}
small {
  display: grid;
  flex-direction: column;
  margin-top: 50px;
}
.carrier-img {
  width: 100%;
}
.footer-logo h4 {
  font-size: 30px;
}
.games-title h1 {
  font-size: 1.5rem;
}
.games-contet-left {
  margin-top: 0px;
}
.games-img img {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.gamer-img img {
  width: 25px;
}
.gamer-text p {
  font-size: 10px;
  font-weight: bold;
}
.games-contet-left p {
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.games-contet-left h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: work-sans;
}
.games-contet-left h3 {
  font-size: 35px;
}

}